:root {
  --mainBackground: #e8e8e8;
  --operatorBackground: #f0f0f0;
  --operandBackground: #ffffff;
  --operatorHover: #808080;
  --operandHover: #d3d3d3;
  --functionChange: #9ac2dd;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
}
.outerBody {
  justify-content: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
  padding: 5px;
  font-size: 14px;
  margin-top: 15px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
}
/* Display: Screen & History*/
.display {
  margin-bottom: 15px;
}
.display .screen {
  border: none;
  width: 100%;
  font-size: 40px;
  font-weight: 500px;
  text-align: right;
  background-color: var(--mainBackground);
}
.display .history {
  border: none;
  width: 100%;
  font-size: 20px;
  font-weight: 500px;
  text-align: right;
  margin-bottom: 5px;
  background-color: var(--mainBackground);
  color: rgba(44, 43, 43, 0.981);
}
@media (max-width: 370px) {
  .display .screen {
    font-size: 35px;
  }
  .display .history {
    font-size: 15px;
  }
}
/* onclick animation for button*/
button:active {
  transform: translateY(4px);
}
button {
  transition-duration: 0.3s;
}
/* Deg & FE*/
.topRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.topRow button {
  padding: 7px 12px;
  width: 20%;
  border: none;
  margin: 1px 1.5px 1px 0px;
  justify-content: center;
  background-color: var(--mainBackground);
}
/* Memory Functions*/
.memoryFunctions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px 0px;
}
.memoryFunctions button {
  width: 20%;
  padding: 7px 12px;
  border: none;
  background-color: var(--mainBackground);
}
/* Dropdown for trigonometric & functions */
.selection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.selection button {
  padding: 7px 12px;
  border: none;
  margin: 1px 1.5px 1px 0px;
  background-color: var(--mainBackground);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropBtn {
  transition-duration: 0.3s;
  padding: 7px 12px;
  border: none;
  margin: 1px 1.6px 1px 0px;
  background-color: var(--mainBackground);
  cursor: pointer;
}
.dropBtn:hover {
  background-color: var(--operatorHover);
}
.dropBtn .dropBtnImage {
  width: 18px;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--operatorBackground);
  min-width: 190px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownContent button {
  padding: 7px 12px;
  text-decoration: none;
  display: block;
}
.dropdownContent .functionList, .trigonometryList {
  display: grid;
  grid-template-columns: auto auto auto;
}
.dropdownContent button:hover {
  background-color: var(--operatorHover);
}
.dropdown:hover .dropdownContent {
  display: block;
}
@media (max-width: 350px) {
  .calcFunctionDropdown {
    right: 0;
  }
}
/* Function-container  */
.calcFunctionContainer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: var(--mainBackground);
}
.calcFunctionContainer button {
  padding: 7px 12px;
  height: 40px;
  margin: 1px;
  border: none;
  background-color: var(--operatorBackground);
}
.calcFunctionContainer .operand {
  background-color: var(--operandBackground);
  font-size: 16px;
  font-weight: bold;
}
.calcFunctionContainer .operand:hover {
  background-color: var(--operandHover);
}
.calcFunctionContainer .operator {
  font-size: 20px;
  padding: 7px 12px;
}
.calcFunctionContainer .equalBtn {
  background-color: rgb(154, 194, 221);
}
.calcFunctionContainer .equalBtn:hover {
  background-color: rgb(98, 165, 209);
  font-weight: bolder;
}
/* button hover style*/
button:hover {
  background-color: var(--operatorHover);
}